@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bebas+Neue&display=swap');
@import './../node_modules/bootstrap/dist/css/bootstrap.css';

@font-face {
  font-family: 'MinhaFonte';
  src: url('./assets/fonts/KindlyRewind-BOon.ttf') format('truetype');
}

html {
  height: 100%;
  overflow-x: hidden;
  min-height: 100%;
}

body {
  position: relative;
  line-height: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --bg900: #06070a;
  --bg800: #0e0f0d;
  --bg750: #353534;
  --bg700: #464745;
  --bg650: #3e3e3e;
  --bg500: #a8a9a6;
  --bg400: #bebfbb;
  --bg300: #cacac6;
  --bg200: rgba(248, 248, 248, 1);
  --bg100: #dfe0dc;

  --palletered8: #0b090a;
  --palletered7: #161a1d;
  --palletered6: #660708;
  --palletered5: #a4161a;
  --palletered4: #e5383b;
  --palletered3: #b1a7a6;
  --palletered2: #d3d3d3;
  --palletered1: #f5f3f4;
  --palletered0: #ffffff;

  --shd: -5px 5px 0px 0px #a4161a;
  --buttonForm: -5px 5px 0px 0px rgb(255, 255, 255);
  --navbarBord: 0px 1px 1px 1px rgba(255, 27, 27, 0.8);
  --rd: 0px;
  --textPadding: 3px 10px 3px 40px;
}
